<div mat-dialog-title>ADD TODO DIALOG</div>

<div mat-dialog-content>
  <form [formGroup]="addTodoForm">
    <mat-form-field class="form-field-container" appearance="outline">
        <mat-label>Title</mat-label>
        <input matInput formControlName="title">
    </mat-form-field>  

    <mat-form-field class="form-field-container" appearance="outline">
      <mat-label>Description</mat-label>
      <input matInput formControlName="description">
    </mat-form-field>  
  </form>
</div>

<div mat-dialog-actions [align]="'end'">
  <button mat-button mat-dialog-close>Cancel</button>
  <button color="accent" mat-button cdkFocusInitial (click)="onSubmit()">Submit</button>
</div>
