<h1>ADD TODO DIALOG</h1>
<form [formGroup]="addTodoForm">
  <div mat-dialog-content>
    <mat-form-field class="form-field-container" appearance="outline">
        <mat-label>Title</mat-label>
        <input matInput formControlName="title">
    </mat-form-field>  

    <mat-form-field class="form-field-container" appearance="outline">
      <mat-label>Description</mat-label>
      <input matInput formControlName="description">
    </mat-form-field>  
  </div>

  <div mat-dialog-actions [align]="'end'">
    <button mat-button mat-dialog-close>Cancel</button>
    <button color="accent" mat-button cdkFocusInitial (click)="onSubmit()">Submit</button>
  </div>
</form>
